<h3>Log In</h3><br>

<%= render 'notice' %>

<%= form_tag(sessions_path) do %>

  <%= label_tag :email %>
  <%= email_field_tag :email %><br><br>

  <%= label_tag :password %>
  <%= password_field_tag :password %><br><br>

  <%= submit_tag 'Log In', class: 'btn btn-success' %>

<% end %>

<br>

<%= link_to('Or Log In with Facebook', '/auth/facebook', class: 'btn btn-primary') %>
