<% if admin_logged_in? %>
  <%= link_to edit_dog_path(@dog), class: "btn btn-warning edit-btn" do %>
    Edit <span class="dog-name"><%= @dog.name %></span>'s Details
  <% end %>
  <br><br><br>
<% elsif logged_in? && !admin_logged_in? && !owner %>
  <%= form_for @dog do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit "Adopt #{@dog.name}", class: "btn btn-primary adopt-bn"%>
    <br><br><br>
  <% end %>
<% elsif !owner %>
  <%= link_to "Log In to Adopt #{@dog.name}", login_path, method: 'get', class: "btn btn-primary login-btn" %>
  <br><br><br>
<% end %>
