<% if admin_logged_in? %>
  <%= link_to edit_dog_path(@dog), class: "btn btn-warning edit-btn" do %>
    Edit <span class="dog-name"><%= @dog.name %></span>'s Details
  <% end %>
  <br><br><br>
<% elsif logged_in? && !admin_logged_in? && !owner %>
  <%= form_for @dog do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.button type: "submit", class: "btn btn-primary adopt-bn" do%>
      Adopt <span class="dog-name"><%= @dog.name %></span>
    <% end %>
    <br><br><br>
  <% end %>
<% elsif !owner %>
  <%= link_to login_path, method: 'get', class: "btn btn-primary login-btn" do %>
    Log In to Adopt <span class="dog-name"><%= @dog.name %></span>
  <% end %>
  <br><br><br>
<% end %>
