<h3>Available Dogs to Adopt</h3>

<tbody>
  <% @dogs.each do |dog| %>
    <td class="list-item">
      <div class="list-dog-info-block">
        <h4><%= dog.name %></h4>
        <p><em><%= dog.breed.name %></em></p>
        <p><%= dog.gender %> - <%= dog.age %> years old</p>
        <p><%= is_trained?(dog) %></p>
      </div>
    </td>
  <% end %>
</tbody>
