<h3><%= @dog.name %></h3>

<br>

<h4><em><%= link_to @dog.breed.name, @dog.breed %></em></h4>
<h5><%= @dog.gender %> - <%= @dog.age %> years old</h5>
<h5><%= is_trained?(@dog) %></h5><br>
<h4>About <%= @dog.name %>:</h4>
<p><%= @dog.description %></p>

<!-- Adopt @dog.name -->
