<h3><%= @dog.name %></h3>

<br>
<div class="dog-info">
  <h4><em><%= link_to @dog.breed.name, @dog.breed %></em></h4>
  <h5><%= @dog.gender %> - <%= @dog.age %> years old</h5>
  <h5><%= is_trained?(@dog) %></h5>
  <h5>Adoption Fee: $<%= @dog.fee %></h5>
</div>
<br>
<div class="dog-description">
  <h4>About <%= @dog.name %>:</h4>
  <p><%= @dog.description %></p>
</div>


<%= link_to "Edit #{@dog.name}'s Details", edit_dog_path(@dog), class: "btn btn-warning" %>

<!-- Adopt @dog.name -->
<button type="button" class="btn btn-primary">Adopt <%= @dog.name %></button>



<br><br><br>

<strong><%= link_to 'Return to All Dogs', dogs_path %></strong>
