<h3><%= @dog.name %></h3>

<br>
<div class="info">
  <h4><em><%= link_to @dog.breed.name, @dog.breed %></em></h4>
  <h5><%= @dog.gender %> - <%= @dog.age %> years old</h5>
  <h5><%= is_trained?(@dog) %></h5>
  <h5>Adoption Fee: $<%= @dog.fee %></h5>
</div>
<br>
<div class="description">
  <h4>About <%= @dog.name %>:</h4>
  <p><%= @dog.description %></p>
</div>

<% if admin_logged_in? %>
  <%= link_to "Edit #{@dog.name}'s Details", edit_dog_path(@dog), class: "btn btn-warning" %>
<% elsif logged_in? && !admin_logged_in? %>

  <%= form_for @dog do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit "Adopt #{@dog.name}", class: "btn btn-primary"%>
  <% end %>

<% else %>
  <%= link_to "Log In to Adopt #{@dog.name}", login_path, method: 'get', class: "btn btn-primary" %>
<% end %>

<br><br><br>

<strong><%= link_to 'Return to All Dogs', dogs_path %></strong>
