<h3><%= @dog.name %></h3>

<br>
<div class="dog-info">
  <h4><em><%= link_to @dog.breed.name, @dog.breed %></em></h4>
  <h5><%= @dog.gender %> - <%= @dog.age %> years old</h5>
  <h5><%= is_trained?(@dog) %></h5><br>
</div>
<div class="dog-description">
  <h4>About <%= @dog.name %>:</h4>
  <p><%= @dog.description %></p>
</div>

<!-- Adopt @dog.name -->
<button type="button" class="btn btn-primary">Adopt <%= @dog.name %></button>

<br><br><br>

<strong><%= link_to 'Return to All Dogs', dogs_path %></strong>
