<h3 class="dog-name"><%= @dog.name %></h3>

<br>
<div class="info">
  <h4><em class="breed-name"><%= link_to @dog.breed.name, @dog.breed %></em></h4>
  <h5><span class="gender-age"><%= @dog.gender %> - <%= @dog.age %></span> years old</h5>
  <h5>Potty & Create Trained: <span class="trained-yn"><%= is_trained?(@dog) %></span></h5>
  <h5>Adoption Fee: $<span class="fee"><%= @dog.fee %></span></h5>
</div>
<br>
<div class="description">
  <h4>About <span class="dog-name"><%= @dog.name %></span>:</h4>
  <p><span class="dog-description"><%= @dog.description %></span></p>
</div>

<%= render 'edit_or_adopt' %>

<strong><a href="#" class="next-dog" data-id="<%= @dog.id %>">Next Dog</a>
</strong><br><br>

<% if @dog.user == current_user %>
  <strong><%= link_to 'Return Home', root_path %></strong>
<% else %>
  <strong><%= link_to 'Return to All Dogs', dogs_path %></strong>
<% end %>

<script type="text/javascript">
  $(function() {
    $(".next-dog").on("click", function(e) {
      e.preventDefault()
      let nextId = parseInt($(".next-dog").attr("data-id")) + 1
      $.getJSON(`/dogs/${nextId}`, function(dog) {
        $(".dog-name").text(dog.name)
        $(".breed-name").html(`<a href="/breeds/${dog.breed.id}">${dog.breed.name}</a>`)
        $(".gender-age").text(`${dog.gender} - ${dog.age}`)
        if (dog.trained) {
          $(".trained-yn").text("Yes")
        } else {
          $(".trained-yn").text("No")
        }
        $(".fee").text(dog.fee)
        $(".dog-description").text(dog.description)

        $(".edit-btn").attr("href", `/dogs/${dog.id}/edit`)

        $(".next-dog").attr("data-id", dog.id)
      })
    })
  })
</script>
