<%= render 'error' %>

<h3><%= @breed.name %>s</h3>

<div class="col col-sm-12">
  <% if admin_logged_in? %>
    <%= link_to "Edit Breed", edit_breed_path(@breed), class: "btn btn-warning"%>
  <% end %>
</div>

<%= render '/dogs/dog_list' %>

<div class="col col-sm-12">
  <% if admin_logged_in? && !@adopted_dogs.empty? %>
    <hr>
    <h4>Adopted <%= @breed.name %>s</h4>
    <ul>
      <% @adopted_dogs.each do |dog| %>
      <li><%= link_to dog.name, dog_path %></li>
      <% end %>
    </ul>
  <% end %>
  <br>
  <% if admin_logged_in? %>
    <strong><%= link_to 'Return to All Breeds', breeds_path %></strong> •
  <% end %>
  <strong><%= link_to 'Return to All Dogs', dogs_path %></strong>
</div>
