<%= render 'error' %>

<h3><%= @breed.name %>s</h3>

<% if admin_logged_in? %>
  <%= link_to "Edit Breed", edit_breed_path(@breed), class: "btn btn-warning"%>
<% end %>

<%= render '/dogs/dog_list' %>

<br><br>

<strong><%= link_to 'Return to All Dogs', dogs_path %></strong>
