<%= render 'error' %>

<h3><%= @breed.name %>s</h3>

<% if admin_logged_in? %>
  <%= link_to "Edit Breed", edit_breed_path(@breed), class: "btn btn-warning"%>
<% end %>

<%= render '/dogs/dog_list' %>

<hr>
<% if admin_logged_in? %>
  <h4>Adopted <%= @breed.name %>s</h4>
  <ul>
    <% @adopted_dogs.each do |dog| %>
    <li><%= link_to dog.name, dog_path %></li>
    <% end %>
  </ul>
<% end %>

<br>

<strong><%= link_to 'Return to All Dogs', dogs_path %></strong>
