<h3>Welcome <%= @user.name %></h3><br>

<% if admin_logged_in? %>
  <%= link_to 'Add Dog', new_dog_path, class: 'btn btn-success' %>
<% end %>
<%= link_to 'New Event', new_user_event_path(@user), class: 'btn btn-primary' %><br>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <% if !@dogs.empty? %>
        <hr>
        <h4>Dogs</h4>
        <ul>
          <% @dogs.each do |dog| %>
          <li><%= link_to dog.name, dog %> - <%= dog.breed_name %></li>
          <% end %>
        </ul>
      <% end %>
      <% if !@attending_events.empty? %>
        <hr>
        <h4>Events I'm Attending</h4>
          <%= render partial: 'events/event_list', locals: {events: @attending_events} %>
      <% end %>
    </div>

    <div class="col-sm-4">
      <hr>
      <h4>Upcoming Events</h4>
      <%= render partial: 'events/event_list', locals: {events: @events} %>
    </div>
  </div>
</div>
