<tbody>
  <% events.each do |event| %>
    <td class="list-item">
      <tr>
        <div class="info">
          <hr>
          <h4><%= link_to event.title, user_event_path(event.organizer_id, event) %></h4>
          <em><%= event.date.strftime('%B %-d, %Y') %></em><br>
          <%= event.start_time.strftime('%l:%M %p') %> - <%= event.end_time.strftime('%l:%M %p') %><br><br>

          <p class="event-description"><%= truncate event.description, length: 60 %></p>
          <div class="attendeees"></div>

          <button class="btn btn-default" data-id="<%= event.id %>">More</button>
        </div>
      </tr>
    </td>
  <% end %>
</tbody>
