<h3><%= @event.title %></h3>

<br>
<div class="info">
  <h4><%= @event.date.strftime('%B %-d, %Y') %></h4>
  <h5><%= @event.start_time.strftime('%l:%M %p') %> - <%= @event.end_time.strftime('%l:%M %p') %></h5>
  <h5><strong>Organizer:</strong> <%= @event.organizer %></h5>
</div>
<br>
<div class="description">
  <h4>About the Event:</h4>
  <p><%= @event.description %></p>
</div>

<% if event_organizer %>
  <%= link_to "Edit Event", edit_user_event_path(@event), class: "btn btn-warning" %>
<% end %>

<%= form_for @attend do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :event_id, value: @event.id %>
  <%= f.submit "Attend Event", class: "btn btn-primary" %>
<% end %>

<br><br>

<div class="description">
  <h4>Attendees (<%= @event.attendees.count %>)</h4>
  <ul>
    <% @event.attendees.each do |event| %>
      <li><%= event%></li>
    <% end %>
  </ul>
  <p></p>
</div>

<br>

<strong><%= link_to 'Return to Events', events_path %></strong>
