<!DOCTYPE html>
<html>
  <head>
    <title>DogRescue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

  <body>
    <div class="container">
      <ul class="nav navbar-nav navbar-left">
        <!-- Link to root_path -->
        <h1>Dog Rescue Shelter</h1>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <br>
        <% if logged_in? %>
          <%= link_to 'Log Out', logout_path, class: 'btn btn-default' %>
        <% end %>
      </ul>

      <br><br><br><hr>

      <div class="main-content">
        <%= yield %>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
